*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dashBoard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
.dashBoardHeader{
    font-size: 44px;
}
.dashBoardBtn{
    padding: 5px 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    font-size: 16px;
    cursor: pointer;
}